.grid-container {
  display: grid;
  grid-template-rows: repeat(4, minmax(100px, auto));
  grid-template-columns: minmax(100px, auto) minmax(100px, auto);

  align-items: center;
  justify-content: center;
  grid-template-areas:
    "heading heading"
    "text-input text-input"
    "detectlang-btn detectlang-output";
}

h1 {
  font-size: 3.5vw;
}

.heading {
  grid-area: heading;
}

.text-input {
  grid-area: text-input;
}

.detectlang-btn {
  grid-area: detectlang-btn;
}

.detectlang-output {
  grid-area: detectlang-output;
}
