<div class="grid-container">
  <div class="header">
    <h1>Language Service</h1>
  </div>

  <mat-form-field class="text-input">
    <mat-label>Enter text</mat-label>
    <input
      matInput
      type="text"
      [(ngModel)]="value"
      [value]="textToAnalyze"
      (input)="onTextChange($event)"
    />
    @if (value) {
    <button matSuffix mat-icon-button aria-label="Clear" (click)="value = ''">
      <mat-icon>close</mat-icon>
    </button>
    }
  </mat-form-field>
  <button class="detectlang-btn" (click)="detectLanguage()" mat-button>
    Detect Language
  </button>
  <p class="detectlang-output">{{ detectedLanguage }}</p>

  <!-- <button class="extractphrases-btn" (click)="extractPhrases()" mat-button>
    Extract Key Phrases
  </button>

  <p class="extractphrases-output">{{ keyPhrases }}</p> -->

  <button class="extractphrases-btn" (click)="extractKeyPhrases()" mat-button>
    Extract Key Phrases
  </button>
  <div *ngIf="keyPhrases.length > 0" class="extractphrases-output">
    <h3>Key Phrases:</h3>
    <ul>
      <li *ngFor="let phrase of keyPhrases">{{ phrase }}</li>
    </ul>
  </div>
</div>
