.grid-container {
  display: grid;
  grid-template-rows: repeat(2, minmax(100px, auto));
  grid-template-columns: minmax(100px, auto) minmax(100px, auto);

  align-items: center;
  justify-content: center;
  grid-template-areas:
    "heading heading"
    "speechrecognition-btn speechrecognition-output";
}

h1 {
  font-size: 3.5vw;
}

.heading {
  grid-area: heading;
}

.speechrecognition-btn {
  grid-area: speechrecognition-btn;
  width: 150px;
  height: 50px;
}

.speechrecognition-output {
  grid-area: speechrecognition-output;
}
