.grid-container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;

  align-items: center;
  justify-content: center;
  grid-template-areas:
    "heading heading"
    "drag-drop image-preview"
    "describe-btn describe-output"
    "ocr-btn ocr-output";
}

h1 {
  font-size: 3.5vw;
}

.drag-drop {
  grid-area: drag-drop;
}

.heading {
  grid-area: heading;
}

.describe-btn {
  grid-area: describe-btn;
  width: 150px;
  height: 50px;
}

.describe-output {
  grid-area: describe-output;
}

.ocr-btn {
  grid-area: ocr-btn;
  width: 150px;
  height: 50px;
}

.ocr-output {
  grid-area: ocr-output;
}

.drop-zone {
  border: 2px dashed #cccccc;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}

.drop-zone.drag-over {
  border-color: #666666;
}

.image-preview {
  margin-top: 10px;
  grid-area: image-preview;
}

.image-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1px solid #ccc;
  border-radius: 5px;
}
