<div class="grid-container">
  <div class="header">
    <h1>Language Service</h1>
  </div>

  <mat-form-field class="text-input">
    <mat-label>Enter text</mat-label>
    <input
      matInput
      type="text"
      [(ngModel)]="value"
      [value]="textToAnalyze"
      (input)="onTextChange($event)"
    />
    @if (value) {
    <button matSuffix mat-icon-button aria-label="Clear" (click)="value = ''">
      <mat-icon>close</mat-icon>
    </button>
    }
  </mat-form-field>

  <div class="language-select">
    <mat-label>Select language to translate to:</mat-label>
    <mat-select [(value)]="selectedLanguage">
      <mat-option *ngFor="let language of languages" [value]="language">
        {{ language }}
      </mat-option>
    </mat-select>
  </div>

  <button class="translatelang-btn" (click)="createTranslatePost()" mat-button>
    Translate Language
  </button>
  <p class="translatelang-output">{{ translatePost | async | json }}</p>
</div>
